@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ASP.NET Web Application</h1>
	<p class="lead">This is an example application using the Hangfire.Dashboard.Management.v2 NuGet package.</p>
</div>

<div class="row">
	<div class="col-md-4">


	</div>
	<div class="col-md-4">
		<p><a href="/hangfire">Go to Hangfire dashboard</a></p>
	</div>
	<div class="col-md-4">

	</div>
</div>