################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/.vs
**/packages
/src/artifacts
*.user
**/PublishProfiles
/src/node_modules
*.binlog
