################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin
**/.vs
/src/packages
/src/artifacts
