@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">This is an example application using the Hangfire.Dashboard.Management.v2 NuGet package.</h1>
	<p><a href="/hangfire">Go to Hangfire dashboard</a></p>
</div>
